body{
    background-color: #626670;
}
h1{
    text-align: center;
    color: #E0d7d3;
    font-family: 'Courier New', Courier, monospace;
}
form{
    text-align: center;
    color: #E0d7d3;
    font-family: 'Courier New', Courier, monospace;
}

