/* Nome: Gabriel Jose da Silva dos Santos     Código: 834846 */
a:link{
    text-decoration: none;
}

div.banner{
    width: 95vw;
    text-align: center;
}

div.header{
    background-color: #000000;
    color: white;
    font-family: 'Optima', sans-serif;
    font-size: xx-large;
    width: 99vw;
    text-align: center;
}

li.navopt{
    font-family: 'Optima', sans-serif;
    text-align: justify;
    display: inline;
    padding: 0.5%;
    margin: 0.9%;
    background-color: #000000;
    color: white;
    border-radius: 4px;
    box-shadow: black 4px 3px 7px;
    transition: 0.8s;
}

li.navopt:hover{
    color: #000000;
    border: 2px solid black;
    background-color: white;
}

div.planofundo{
    background-color: black;
}

div.conteudo{
    position: relative;
    right: -4vh;
    background-color: white;
    width: 95vw;
    font-family: 'Optima' serif;
    font-size: large;
    text-align: justify;
}

