/*Nome: Gabriel Jose da Silva dos Santos     Código: 834846*/
#cache{
    width: 75vw;
    height: 85vh;
    margin-left: 5vh;
}
#cobblestone{
    width: 75vw;
    height: 85vh;
    margin-left: 5vh;
}

#dust2{
    width: 75vw;
    height: 85vh;
    margin-left: 5vh;
}

#inferno{
    width: 75vw;
    height: 85vh;
    margin-left: 5vh;
}

#mirage{
    width: 75vw;
    height: 85vh;
    margin-left: 5vh;
}

#nuke{
    width: 75vw;
    height: 85vh;
    margin-left: 5vh;
}

#overpass{
    width: 75vw;
    height: 85vh;
    margin-left: 5vh;
}

#train{
    width: 75vw;
    height: 85vh;
    margin-left: 5vh;
}

#vertigo{
    width: 75vw;
    height: 85vh;
    margin-left: 5vh;
}